
aside {
    background: #6a1b9a;
    width: 15%;
    margin-right: 7vw;
    padding: 2vh 2vw 2vh;
    float: right;
    font-family: Garamond, serif;
    color: #c7adf5;
    font-size: 1.3rem;
}



.inspiration-set{
    display: flex;
    flex-direction: row;
    margin: auto;
    height: 64vh;
    width: 50%;
    padding: 1vh 0 5vh;
}

.inspiration-main-figure {
    width: 80%;
    height: 100%;
}


.inspiration-main-figure img{
    box-sizing: border-box;
    width: 100%;
}

.inspiration-main-figure img:hover{
    
    animation-name: highlight-image;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.inspiration-aux-figure {
    width: 20%;
    height: 100%;
}

.inspiration-aux-figure img{
    box-sizing: border-box;
    width: 100%;
}

.inspiration-aux-figure img:hover{
    animation-name: highlight-image;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}


@keyframes highlight-image {
    from {
        border:none;
        border-color: #00000000;
    }
    to {
        border-style: inset;
        border-width: 0.4rem;
        border-color: #4e4051A0;
    }
}

.tag-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    line-height: 2.5rem;
    font-family: Garamond, serif;
    height: 15vh;
}

.tag-list li {
    color: #7900B2;
    display: block;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 0.125rem 0.25rem;
    text-decoration: none;
    position: relative;
}


.search-fieldset {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 50%;
    border: none;
    font-size: 2rem;
    margin: 5vh auto 2vh;
    height: 20vh;
    padding: 2vh 2vw 0vh;
}

.search-fieldset legend {
    font-size: 2vw;
    color: #7900B2;
}
.search-fieldset input {
    box-sizing: border-box;
    width: 80%;
    height: 100%;
    background: #dfa5ff;
    border: none;
    padding: 1vh 3vw 1vh;
    font-size: 1.3rem;
    font-family: Garamond, serif;
    font-style: oblique;
    color: #7900B2;
}
.search-fieldset input[type=text] {

    transition-property: background-color;
    transition-duration: 0.5s;
    
}

.search-fieldset input[type="text"]:focus {
    animation: none;
    outline: none;
    background: #f1f1f1;
    font-style: normal;
    color: #180024;
}

.search-fieldset button {
    height: 100%;
    width: 20%;    
}

.search-fieldset button img {
    height: 75%;
    width: 75%;
    margin: auto;
    transition-duration: 1.6s;
    transition-property: transform;
    transition-timing-function: cubic-bezier(.5, -1, .5, 2);
}


.search-fieldset button img:hover {

    transform: rotate(360deg);
    
}

.search-fieldset button:hover {
    background: #530179;
}

.search-fieldset button:after {
    content: "";
    clear: both;
    display: table;
}

iframe {
    border: none;
    box-sizing: border-box;
    display: block;
    padding-top: 12vh;
    padding-bottom: 12vh;
    height: 85vh;
    width: 50vw;
    margin: auto;
    transition: all;
    transition-duration: 0.5s;
}

iframe:hover {

    padding-top: 4vh;
    padding-bottom: 4vh;
    width: 62vw;
}




@media (min-width: 768px) {
    .inspiration-aux-figure {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: stretch;
    }
}

@media (max-width: 767px) {
    .inspiration-grid {
        display: grid;
        grid-template-rows: 3fr 1fr;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
    }

    .inspiration-main-figure {
        width: 100%;
        margin: 0;
    }

    .aux-figure-grid {
        margin: auto;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
    }

    aside {
        font-size: 1rem;
    }
}

@media (min-width: 768px) {
}


@media (max-width: 767px) {
    .search-fieldset legend {
        font-size: 4vw;
        color: #7900B2;
    }
}