
body {
    margin: 0;
}

.image-container {
    margin: 100px 0 0 0;
    position: relative;
    text-align: center;
    color: white;
}

.text-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
}

.header-image {
    margin: 0;
    width: 100%;
    height: 50vh;
    object-fit: none;
    filter: brightness(50%);
    display: block;
}

.header-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    color: whitesmoke;
}

.auth-panel {
    display: flex;
    flex-direction: row;
}

.auth-container {
    width: 35vw;
    height: 52vh;
    margin: auto;
}

.auth-title {
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    font-size: 20px;
    margin: 1vh auto 2vh;
    text-align: center;
}

.auth-form {
    background-color: whitesmoke;
    border: 3px solid #e1bee7;
    border-radius: 25px;
    padding: 7vh 2vw 7vh;
}

.text-divider {
    margin: auto;
} 

.auth-container input {
    margin: 2%;
    width: 96%;
}

.auth-container input:focus {
    border: 3px solid #555;
}

.main-container {
    width: 100%;
    background-repeat: space;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/background.jpg');
}

.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #ae92b5;
    z-index: 1;
}


.nav-item-left {
    margin: 2vh 2vw 2vh;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    text-decoration: none;
}

.nav-item-left:hover {
    text-decoration:underline;
    text-decoration-color: lavender;
}

.nav-item-right {
    margin: 2vh 2vw 2vh auto;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    text-decoration: none;
}
.nav-item-right:hover {
    text-decoration:underline;
    text-decoration-color: lavender;
}

footer {
    padding: 5vh 10vw 2vh;
    background-color: #4e4051;
}

.copyright-label {
    font-weight: 100;
    font-variant: small-caps;
    text-align: center;
    color: whitesmoke;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}

address a {
    color: whitesmoke;
    text-decoration: none;
}

address a:hover {
    text-decoration: underline;
    text-decoration-color: lavender;
}

.presentation-container {
    padding: 10vh 2vw 10vh;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.presentation-figure {
    width: 50%;
}

.presentation-figure img {
    width: 100%;
    object-fit: contain;
}

.hr-shadow {
    display: none;
	margin: 0;
	padding: 0;
    height: 0;
	border: none;
	box-shadow: 0 0 10px 1px black;
}

.presentation-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.presentation-list li:nth-child(1n) {
    background-color: #fdd83580;
}

.presentation-list li:nth-child(2n) {
    background-color: #c1282880;
}

.presentation-list li:nth-child(3n) {
    background-color: #311b9280;
}

.presentation-article {
    width: 50%;
    padding: 3vh 7vw 3vh;
}

.presentation-article h2 {
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.presentation-article p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

mark {
    background-color: blueviolet;
    color: cornsilk;
    border: 1px solid black;
    padding: 2px;
    margin: 5px;
    font-size: 20px;
    font-style: oblique;
}