
body {
    margin: 0;
}

.image-container {
    margin: 100px 0 0 0;
    position: relative;
    text-align: center;
    color: white;
}

.text-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
}

header {
    width: 100%;
}

.header-image {
    margin: 0;
    width: 100%;
    height: 50vh;
    object-fit: none;
    filter: brightness(50%);
    display: block;
}

.header-text {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 60px;
    color: whitesmoke;
}

.auth-panel {
    display: flex;
    flex-direction: row;
}

.auth-container {
    width: 35vw;
    height: 52vh;
    margin: auto;
}

.auth-title {
    font-family: Garamond, serif;
    color: whitesmoke;
    font-size: 20px;
    margin: 1vh auto 2vh;
    text-align: center;
}

.auth-form {
    background-color: whitesmoke;
    border: 3px solid #e1bee7;
    border-radius: 25px;
    padding: 7vh 2vw 7vh;
}

.text-divider {
    margin: auto;
} 

.auth-container input {
    margin: 2%;
    width: 96%;
}

.auth-container input:focus {
    border: 3px solid #555;
}

.main-container {
    width: 100%;
    background-repeat: space;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/background.jpg');
}

.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #ae92b5;
    z-index: 1;
}


.nav-item-left {
    margin: 2vh 2vw 2vh;
    font-size: 20px;
    font-family: 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    text-decoration: none;
}

.nav-item-left:hover {
    text-decoration:underline;
    text-decoration-color: lavender;
}

.nav-item-right {
    margin: 2vh 2vw 2vh auto;
    font-size: 20px;
    font-family: 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    text-decoration: none;
}
.nav-item-right:hover {
    text-decoration:underline;
    text-decoration-color: lavender;
}

footer {
    padding: 5vh 10vw 2vh;
    background-color: #4e4051;
}

.copyright-label {
    font-weight: 100;
    font-variant: small-caps;
    text-align: center;
    color: whitesmoke;
    font-size: 16px;
    font-family: Garamond, serif;
    font-style: normal;
}

address a {
    color: whitesmoke;
    text-decoration: none;
}

address a:hover {
    text-decoration: underline;
    text-decoration-color: lavender;
}

.presentation-container {
    padding: 10vh 2vw 10vh;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.presentation-figure {
    width: 50%;
}

.presentation-figure img {
    width: 100%;
    object-fit: contain;
}

.hr-shadow {
    display: none;
	margin: 0;
	padding: 0;
    height: 0;
	border: none;
	box-shadow: 0 0 10px 1px black;
}

.presentation-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.presentation-list li:nth-child(1n) {
    background-color:#311b9230;
}

.presentation-list li:nth-child(2n) {
    background-color:#fdd83530;
}

.presentation-list li:nth-child(3n) {
    background-color:#c1282830;
}

.presentation-article {
    width: 50%;
    padding: 3vh 7vw 3vh;
}

.presentation-article h2 {
    font-style: bold;
    font-family: Garamond, serif;
    font-size: 6rem;
    margin: auto;
    color: #835b9e;
}

.presentation-article p {
    font-family: Garamond, serif;
    font-size: 2rem;
    color: #49285c;
    margin: auto;
}

mark {
    background-color: blueviolet;
    color: cornsilk;
    border: 1px solid black;
    padding: 2px;
    font-size: 20px;
    font-style: oblique;
}

aside {
    background: #6a1b9a;
    width: 15%;
    margin-right: 7vw;
    padding: 2vh 2vw 2vh;
    float: right;
    font-family: Garamond, serif;
    color: #c7adf5;
    font-size: 1.3rem;
}

.inspiration-set{
    display: flex;
    flex-direction: row;
    margin: auto;
    height: 64vh;
    width: 50%;
    padding: 1vh 0 5vh;
}

.inspiration-main-figure {
    width: 80%;
    height: 100%;
}

.inspiration-main-figure img{
    width: 100%;
}

.inspiration-aux-figure {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    height: 100%;
}

.inspiration-aux-figure img{
    width: 100%;
}

.tag-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    line-height: 2.5rem;
    font-family: Garamond, serif;
    height: 15vh;
}

.tag-list li {
    color: #7900B2;
    display: block;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 0.125rem 0.25rem;
    text-decoration: none;
    position: relative;
}

.main-background {
    background-color: #8217ce20;
    overflow: auto;
    font-size: 0;
}

.search-fieldset {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 50%;
    border: none;
    font-size: 2rem;
    margin: 5vh auto 2vh;
    height: 20vh;
    padding: 2vh 2vw 0vh;
}

.search-fieldset legend {
    color: #7900B2;
}
.search-fieldset input[type=text] {
    width: 80%;
    background: #dfa5ff;
    border: none;
    padding: 1vh 3vw 1vh;
    font-size: 1.3rem;
    font-family: Garamond, serif;
    font-style: oblique;
    color: #7900B2;
}

.search-fieldset input[type=text]:focus {
    outline: none;
    background: #f1f1f1;
    font-style: normal;
    color: #180024;
}

.search-fieldset button {
    width: 20%;
    background: #7900B2;
    color: white;
    border: none;
    cursor: pointer;
}

.search-fieldset button img {
    width: 50%;
    height: auto;
}

.search-fieldset button:hover {
    background: #530179;
}

.search-fieldset button:after {
    content: "";
    clear: both;
    display: table;
}

.hr-shelf {
	margin: 0;
	padding: 0;
	height: 9vh;
	border: none;
	border-bottom: 1px solid #50015a;
	box-shadow: 0 20px 20px -20px #333;
	width: 100%;
}

.aux-background {
    background-color: #7500c820;
}
